<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class=" header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color: darkred;">
            <div class="container">
                @Html.ActionLink("Welcome to Beijing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切换导航" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Information", "Information", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Product", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("Search", null, new { @class = "form-control", @placeHolder = "Srearch Products" })
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: white; color: black;">Submit</button>
                    }
                </div>
            </div>
        </nav>

        <div class="container body-content">
            <div class="centered-image">
                <img src="~/Content/Images/image1.jpg" alt="Sample" style="width: 100%;  height: 800px; display:block;">
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<div class="footer">
            <footer>
                <hr />
                <p>&copy; @DateTime.Now.Year - Welcome to Beijing</p>
            </footer>
        </div>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>